.nolert-custom{
    position:fixed;
    font-family: Roboto, sans-serif, serif;
    transition: bottom 0.4s ease, top 0.4s ease, left 0.4s ease, right 0.4s ease, transform 0.4s ease, opacity 0.3s ease;
}
.nolert-custom>div{
    display:flex;
    align-items: center;
    justify-content:space-between;
    background-color: #fff;
    border:1px solid #FCF6F5FF;
    color:#000;
    border-radius: inherit;
    padding:inherit;
    padding:12px;
    border-radius:24px;
}
.nolert-custom>div>div.nolert-content-custom{
    display:flex;
    align-items: center;
    justify-content:left;
}
.nolert-custom>div>div.nolert-content-custom>div.nolert-svg-icon-container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.nolert-custom>div>div.nolert-content-custom>div.nolert-svg-icon-container>svg{
    margin-right:6px;
    width:24px;
    padding:0 4px;
}
.nolert-custom>div>div.nolert-content-custom>p{
    margin:0;
    padding:0 0 0 0;
}
.nolert-custom>div>div.nolert-content-custom>p a{
    color:inherit;
}

/*Custom type styles*/
.nolert-custom>div.info{
    border:1px solid #FCF6F5FF;
    background-color: #3B71CA;
    color:#FCF6F5FF;
}
.nolert-custom>div.success{
    border:1px solid #FCF6F5FF;
    background-color: #1f9f4e;
    color:#FCF6F5FF;
}
.nolert-custom>div.danger{
    border:1px solid #FCF6F5FF;
    background-color: #DC4C64;
    color:#FCF6F5FF;
}
.nolert-custom>div.warning{
    border:1px solid #FCF6F5FF;
    background-color: #ffcc00;
    color:#000;
}
.nolert-custom>div.dark{
    border:1px solid #FCF6F5FF;
    background-color: #332D2D;
    color:#FCF6F5FF;
}
.nolert-custom>div.light{
    border:1px solid #000;
    background-color: #FBFBFB;
    color:#000;
}

/*Alert close button*/
.nolert-close-button{
    all:unset;
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
}
.nolert-close-button svg{
    width:24px;
    margin-left:6px;
}
.nolert-close-button:hover, .nolert-close-button:focus{
    opacity:0.7;
}

/*Small screen*/
.nolert-custom-mobile{}

@media screen and (max-width:700px){
    .nolert-custom-mobile{
        width:90%;
    }
}